a {
  -ms-grid-column-align: center;
  justify-self: center;
}
h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
body {
  background-image: url(./img/aiday.jpg);
}
